<configuration debug="true">
    <springProperty name="appName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PAPERTRAIL" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[4_anFlP-t2E0CVwQ06WAkJNw2b1XDWk5hDM-tnjLcB9BIkPr0nURUC8S6k0mfjQDhGrZ8io@41058] ${appName} %thread %-5level %logger{36} - %msg</pattern>
        </layout>
        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.ssl.SSLTCPNetSyslogConfig">
            <host>syslog.collector.na-01.cloud.solarwinds.com</host>
            <port>6514</port>
        </syslogConfig>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="PAPERTRAIL"/>
    </root>
</configuration>